verilog_lab_basics/verilog_lab_basics.cache/
verilog_lab_basics/verilog_lab_basics.hw/
verilog_lab_basics/verilog_lab_basics.ip_user_files/
verilog_lab_basics/verilog_lab_basics.runs/
verilog_lab_basics/verilog_lab_basics.sim/
verilog_lab_basics/verilog_lab_basics.srcs/utils_1
git_push.sh
